<p style="color: green"><%= notice %></p>


<h1>Voir toutes les citations</h1>

<div id="quotes">
  <% @quotes.each do |quote| %>
    <%= render quote %>
    <div class="update-new">
    <p>
      <%= link_to "Modifier la citation", quote %>
    </p>
    <p>
    <%= link_to "Écrire une citation", new_quote_path %>
    </p>
    </div>
  <% end %>
</div>


