<nav class="navbar-all">
        <a class="navbar-brand" href="/quotes">
        <%= image_tag 'Group1.png'%>
        </a>
        
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link " href="#">Écrire une citation</a></li>
          </li>
        </ul>
</nav>
<h1>Modifier le profil</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
