
body {
    background-color:white;
}

p {
    color:black;
    font-family : roboto;
    font-style: normal;
    font-size: 16px;
    margin-left:10%;


}
h1 {
    font-family : roboto;
    font-size: 26px;
    color:black;
    margin-left: 10%;
    margin-top: 10%;
}

a {
    text-decoration: underline;
    font-family:roboto;
    font-size: 16px;
    color:black;
}

.update-new {
    background-color:red;
    display: flex;
    margin:0% 5%;
}
.navbar-nav{
    font-family:roboto;
    color:white;
    text-decoration:none;
    display:flex;
    justify-content: flex-end;
  
}
li {
    list-style-type: none;
}
.nav-link {
    color:white;
    text-decoration:none;
    font-family:roboto;
    display:flex;
    padding-inline-start: 30px;
    
}

.navbar-all{
    background-color: black;
}

.text-author {
    margin-left: 10%;
}