
body {
    background-color:black !important;
    margin:0% 10% !important;
}

p {
    color:white !important;
    font-family : roboto;
    font-style: normal;
    font-size: 16px;
    margin-left:10%;


}
h1 {
    font-family : roboto !important;
    font-size: 26px;
    color:white !important;
    margin: 10% 0% !important;
}

a {
    text-decoration:none !important;
    font-family:roboto;
    font-size: 16px;
    color:white !important;
}

.update-new {
    background-color:red;
    display: flex;
    margin:0% 5%;
}
.navbar-nav{
    font-family:roboto;
    color:white;
    text-decoration:none;
    display:flex !important;
    justify-content: flex-end !important;
    
  
}
li {
    list-style-type: none;
}
.nav-link {
    color:white !important;
    text-decoration:none !important;
    font-family:roboto;
    
}


.champ {
    font-family: roboto;
}

.navbar-all{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-author {
    margin-left: 10%;
}

.form-control {
    border: 1px solid white !important;
    background-color: black !important;
    color:white !important;
}

.form-label .label {
    color: white !important;
}
img {
    vertical-align:middle !important;

}

.button {
    margin-top: 10%;
    display: flex;
    justify-content: flex-end !important;
    display: inline-block;
 
}

input {
    width:100% !important;
}
textarea {
    width:100% !important;
}